api/Rest/.vs/Rest/v16/Server/
api/Rest/UserManagement/obj/
api/Rest/TinyERP.Common/obj/
client/node_modules/
api/Rest/UserManagement/bin/
api/Rest/TinyERP.Common/bin/
*.map
*.js
api/Rest/Inventory/bin/
api/Rest/Inventory/obj/
api/Rest/.vs/Rest/
api/Rest/Security/bin/
api/Rest/Security/obj/
api/Rest/Inventory.Api/obj/
api/Rest/Inventory.Api/bin/
api/Rest/TinyERP.Inventory/Inventory/obj/
api/Rest/TinyERP.Inventory/Inventory/bin/
api/Rest/TinyERP.Inventory/Inventory.Api/bin/
api/Rest/TinyERP.Inventory/Inventory.Api/obj/
api/Rest/Application/bin/
api/Rest/Application/obj/
api/Rest/Sercurity.Api/bin/
api/Rest/Sercurity.Api/obj/
api/Rest/Sercurity/obj/
api/Rest/TinyERP.Sercurity/Sercurity/obj/
api/Rest/TinyERP.Sercurity/Sercurity.Api/obj/
api/Rest/TinyERP.Sercurity/Sercurity.Api/bin/
api/Rest/TinyERP.Sercurity/Sercurity/bin/
api/Rest/TinyERP.Sercurity/Security.Api/bin/
api/Rest/TinyERP.Sercurity/Security.Api/obj/
api/Rest/TinyERP.Sercurity/Security/bin/
api/Rest/TinyERP.Sercurity/Security/obj/
